################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Puzzles/CopilotIndices/17.14.939.21063
/.vs/Puzzles
/Puzzles/x64/Debug
/x64/Debug
